Flask==3.0.0
langchain==1.2.13
langchain-chroma>=0.2.6
langchain-community==0.4.1
langchain-google-genai==4.2.1
langchain_huggingface==1.2.1
langchain_text_splitters==1.1.1
duckduckgo-search>=7.5.3
python-dotenv==1.0.0
tavily-python==0.7.23
sentence-transformers>=2.2.2
wikipedia==1.4.0
ddgs==9.12.0
